<h2>Overview Page</h2>

<button (click)="openSubmitLinkModal()">Submit a Link</button>
<button (click)="clearLocalStorage()">Clear Local Storage</button>

<div>
  @if(isModalOpen){
  <app-submit-link-modal
    (closeModal)="closeSubmitLinkModal()"
    (newLinkSubmitted)="handleNewLink($event)"
  />
  }
</div>

<div>
  @for (link of pagedLinks; track link){
  {{ link }}
  }
</div>
<div>
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span>
    @for(pageNum of pageNumbers; track pageNum){
    <button (click)="changePage(pageNum)">{{ pageNum }}</button>
    }
  </span>
  <button (click)="nextPage()" [disabled]="currentPage >= totalPages">
    Next
  </button>
</div>
