<h2>Overview Page</h2>

<button (click)="openSubmitLinkModal()">Submit a Link</button>
<button (click)="clearLocalStorage()">Clear Local Storage</button>

<app-submit-link-modal
  *ngIf="isModalOpen"
  (closeModal)="closeSubmitLinkModal()"
></app-submit-link-modal>

<div *ngFor="let link of pagedLinks">
  {{ link }}
</div>
<div>
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span *ngFor="let pageNum of pageNumbers">
    <button (click)="changePage(pageNum)">{{ pageNum }}</button>
  </span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">
    Next
  </button>
</div>
